@keyframes down {
    0%{
        transform: translate(0,-5px);
    }
    100%{
        transform: translate(0,5px);
    }
}
@keyframes cloud {
    0%{
        background-position: 1000px 0;
    }
    50%{
        background-position: 0 0;
    }
    100%{
        background-position: -1000px 0;
    }
}
@keyframes word {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}