body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dd,form,input{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
body{
	font-family: "微软雅黑";
	font-size: 12px;
}
img{
	border: none;
}